@model  IEnumerable<Product>

<div class="row pb-3">
	@foreach(Product product in Model)
	{
		<div class="col-lg-3 col-sm-6">
			<div class="row p-1 mb-2">
				<div class="col-12 p-1">
					<div class="card shadow shadow-lg p-2">
						<div class="card-header border-0  border-primary border-bottom border-5 rounded">
							<img src="@product.ImageUrl" class="card-img-top rounded">
						</div>
						<div class="card-body mb-2">
							<div class="mb-2">
								<p class="m-0 card-title text-center text-uppercase text-dark fw-bold">@product.Title</p>
								<p class="m-0 card-title text-center text-danger fw-bold">by @product.Author</p>
							</div>
							<div class="m-0">
								<p class="text-center text-info fw-bold m-0">List Price:<span class="text-decoration-line-through">@product.ListPrice.ToString("c")</span></p>
								<p class="text-center text-info fw-bold m-0">As low as: <span>@product.Price100.ToString("c")</span></p>
							</div>
						</div>
						<div class="card-footer">
							<a class="btn btn-primary form-control rounded" asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-id="@product.Id">Details</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
</div>